name: task-not-psp-2
services:
  task:
    build: .
    restart: always
    expose:
      - 8000
    networks:
      - net
    environment:
      - FLAG=${FLAG}
    labels:
      - owl.proxy=true
      - owl.proxy.port=8000
      - owl.label.conntype=http
    deploy:
      resources:
        limits:
          cpus: '0.50'
          memory: 200M

networks:
  net:
    external:
      name: ctfd_frp_containers