services:
  app-oreshnik:
    build: .
    # ports:
    #   - "8099:8080"
    expose:
      - "8080"
    restart: always
    networks:
      - net
    depends_on:
      - db-oreshnik
    environment:
      - DB_HOST=db-oreshnik
      - DB_USER=goidactf
      - DB_PASSWORD=goidactfRNTYMMY
      - DB_NAME=goidactf
      - DB_PORT=5432
      - FLAG=${FLAG}
    labels:
      - owl.proxy=true
      - owl.proxy.port=8080
      - owl.label.conntype=http

  db-oreshnik:
    image: postgres:13-alpine
    restart: always
    environment:
      - POSTGRES_USER=goidactf
      - POSTGRES_PASSWORD=goidactfRNTYMMY
      - POSTGRES_DB=goidactf

networks:
  net:
    external:
      name: ctfd_frp_containers