services:
  backend:
    build:
      context: .
      dockerfile: docker/backend/backend.Dockerfile
    restart: always
    # ports:
    #   - 127.0.0.1:8080:8080
    expose:
      - 8080
    environment:
      TZ: Europe/Moscow
      LOG_LEVEL: "${LOG_LEVEL:-INFO}"
      DB_PATH: "${DB_PATH:-data.db}"
      HASH_PEPPER: "${HASH_PEPPER:-Навайбкодили}"
      JWT_SECRET: "${JWT_SECRET:-Навайбкодили}"
      HCAPTCHA_SECRET: "${HCAPTCHA_SECRET:?HCAPTCHA_SECRET_env_var_not_set}"
      FLAG: "${FLAG:?FLAG_env_var_not_set}"
    networks:
      - CTFD_PRIVATE_NETWORK
    mem_limit: 4g
  frontend:
    build:
      context: .
      dockerfile: docker/frontend/frontend.Dockerfile
      args:
        HCAPTCHA_SITEKEY: "${HCAPTCHA_SITEKEY:?HCAPTCHA_SITEKEY_env_var_not_set}"
    restart: always
    # ports:
    #   - 127.0.0.1:8081:80
    expose:
      - 80
    networks:
      - CTFD_PRIVATE_NETWORK
  nginx:
    image: nginx:1.29.3-alpine3.22
    restart: always
    depends_on:
      - backend
      - frontend
    # ports:
    #   - 127.0.0.1:8080:80
    expose:
      - 80
    volumes:
      - ./docker/nginx/nginx.conf:/etc/nginx/conf.d/default.conf:ro
    environment:
      TZ: Europe/Moscow
    networks:
      - CTFD_PRIVATE_NETWORK
      - exported
    labels:
      owl.proxy: true
      owl.proxy.port: 80
      owl.label.conntype: http

networks:
  exported:
    # driver: bridge
    external: true
    name: ctfd_frp_containers
  CTFD_PRIVATE_NETWORK:
